.mmf-feed-scroll {
      display: flex;
      position: relative;
      width: fit-content;
      height: 70%;
      align-items: center;
      justify-content: center;
      transition: all 1s;
      overflow: hidden;

}
::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

.left-window {
      height: 75%;
      min-width: 60%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      background-color: #47077fe0;
      border: 2px ridge #0e042d;
      box-shadow: 3px 3px 7px 3px rgb(0 0 0 / 0.2);
      color: white;
}
.active-window {
      min-width: 60%;
      height: 90%;
      z-index: 2;
      margin-left: 3%;
      margin-right: 3%;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      background-color: #47077fe0;
      border: 2px ridge #0e042d;
      box-shadow: 3px 3px 7px 3px rgb(0 0 0 / 0.2);
      color: white;
}
.right-window {
      height: 75%;
      min-width: 60%;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      background-color: #47077fe0;
      border: 2px ridge #0e042d;
      box-shadow: 3px 3px 7px 3px rgb(0 0 0 / 0.2);
      color: white;
}


.mmf-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 18px;
      justify-content: left;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      border-left: 2px solid #0e042d;
      border-radius: 4px;
      height: 80%;
}
.mmf-text {
      font-size: 1em;
      text-align: left;
      padding-top: 5%;
      padding-bottom: 5%;
      border-top: 1px solid #0e042d;
      /* border-bottom: 1px solid #0e042d; */
      text-overflow: ellipsis;
      overflow: hidden;
}
.mmf-text-header {
      font-family: Poppins, sans-serif;
      font-size: 2em;
      text-align: left;
}
.mmf-media {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 80%;
      padding-left: 5%;
      padding-right: 5%;
      border-right: 2px solid #0e042d;
      border-radius: 4px;
}
.mmf-iframe {
      aspect-ratio: 1/1;
      width: 100%;
      /* transform: scaleY(130%); */
}
.mmf-submit-name-wrapper {
      position: relative;
      text-align: left;
      margin-top: auto;
}
.mmf-submit-text {
      font-size: 2em;
}
.mmf-submit-name {
      font-size: 1.5em;
}