.multimedia-feed-container {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #f4c095;
      border-top: 6px ridge #0e042d;
      border-bottom: 6px ridge #0e042d;
      position: relative;
      scroll-margin-top: 70px;
}

.multimedia-feed-button {
      height: 3rem;
      width: 20rem;
      background-color: #32006A;
      position: absolute;
      top: 89%;
      left: 15%;
      border-radius: 15px;
      transition: all 0.3s linear;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      border: 4px solid #0e042d;
      box-shadow: 3px 3px 7px 3px rgb(0 0 0 / 0.4);
}
.multimedia-feed-button:hover {
      transition: all 0.3s linear;
      transform: scale(110%);
}

.multimedia-feed-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      height: 3.5rem;
      width: 74%;
      border-color: gray;
      top: 6%;
      left: 13%;
      border-top:  4px solid #0e042d;
      border-bottom:  4px solid #0e042d;
      box-shadow: 0 -5px 3px -3px rgb(0 0 0 / 0.4), 0 5px 3px -3px rgb(0 0 0 / 0.4);
      border-radius: 3px;
      color: rgba(3, 25, 99, 0.7);
      font-size: 1.5rem;
      padding-left: 3%;
      padding-right: 3%;
      transition: all 0.1s ease-in-out;
}

.mmf-navbar-element {
      display: flex;
      justify-content: center;
      transition: all 0.1s ease-in-out;
      height: 100%;
      align-items: center;
      min-width: 10%;
}

.mmf-navbar-element:hover {
      transform: scale(105%);
      transition: all 0.1s ease-in-out;
      border-bottom: 4px solid rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      color: rgba(3, 25, 99, 1);
}
.active {
      transform: scale(105%);
      transition: all 0.1s ease-in-out;
      border-bottom: 4px solid rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      color: rgba(3, 25, 99, 1);
}
.padding {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
}

@media only screen and (max-width: 900px) {
      .multimedia-feed-navbar {
            width: 96%;
            left: 0;
            padding-left: 0;
            padding-right: 0;
            margin-left: 2%;
            margin-right: 2%;
      }
}
@media only screen and (max-width: 700px) {
      .multimedia-feed-navbar {
            width: 100%;
            overflow: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

      }
}