.navbar {
      align-items: stretch;
      display: flex;
      height: 70vh;
      justify-content: space-between;
      left: 0;
      position: fixed;
      top: 15vh;
      width: 11%;
      z-index: 3000;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      transition: all 0.3s
  }

  .navbarmainarea {
      background-color: #13073A;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      opacity: 0.95;
      display: flex;
      width: 72.78%;
      flex-direction: column;
      border-radius: 0px 12px 12px 0;
      box-shadow: 3px 3px 7px 3px rgb(0 0 0 / 0.4);
      border: 2px solid #847C96;
      border-left: 0;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      transition: all 0.3s;
  }

  .navlinks {
      padding: 0.7em;
  }

  .navbarbuttonarea {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 27.27%;
  }

  .navbar-button-wrapper {
      height: 100px;
      transition: all 0.3s;
      width: 100%;
  }
  .navbar-button {
      height: 100%;
      width: 100%;
      object-fit: fill;
 }
  .navbar-button-wrapper:hover {
      transition: all 0.2s linear;
      transform: scaleX(160%);
      transform: scaleY(130%);
      }

 .navbar-button-without-menu-wrapper {
      width: 3%;
      height: 7%;
      left: 0;
      top: 48%;
      position: fixed;
      z-index: 9999;
      transition: all 0.2s linear;
 }
 .navbar-button-without-menu {
      height: 100%;
      width: 100%;
      object-fit: fill;
 }
 .navbar-button-without-menu-wrapper:hover {
      transition: all 0.2s linear;
      transform: scaleX(160%);
      transform: scaleY(130%);
    }

.navbarwrapper {
      transition: all 0.3s;
}
      
      
      