.footer{
      height: 10vh;
      width: 100%;
      background-color: rgb(43, 39, 39);
      border-top: 6px solid #000000;
}
.text-wrapper{
      color: antiquewhite;
      padding-top: 10px;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 10px;
      
}