@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
      text-align: center;
      font-family: Poppins, sans-serif;
      color: #47077F;

      max-width: 100%;
      min-width: 1400px;
    }
.button-text {
          display: flex;
          font-size: 1.3rem;
          align-items: center;
          justify-content: center;
    }

.underConstructionBackground{
      display: flex;
      width: 100%;
      height: auto;
}